body{
  background-color: #cfcfcf;
}
.content-background{
  background-image: url('./images/a.jpg');
  height: 300px;
  width: 100%;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 2px;
  -webkit-box-shadow: -3px 18px 29px -8px rgba(87,85,87,1);
  -moz-box-shadow: -3px 18px 29px -8px rgba(87,85,87,1);
  box-shadow: -3px 18px 29px -8px rgba(87,85,87,1);
}
.heading{
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  margin-top: 0 auto;
}